section {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  min-height: 80%;
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
  white-space: pre-wrap;
}

.bg {
  filter: blur(8px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-in-out;

  &.husbands {
    background-image: url(../../assets/husbands.webp);
  }

  &.wives {
    background-image: url(../../assets/wives.webp);
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;

  .home {
    font-size: 3em;
    color: #fff;
  }

  .arrow {
    $size: 30px;
    $width: 2px;
    cursor: pointer;
    display: block;
    width: calc($size / 1.414);
    height: calc($size / 1.414 * 2);
    position: relative;
    -webkit-tap-highlight-color: transparent;

    & span,
    &:before,
    &:after {
      background: #fff;
      content: "";
      display: block;
      width: $size;
      height: $width;
      position: absolute;
      top: calc(50% - (#{$width} / 2));
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
    & span {
      width: 0;
    }
    &:hover span {
      width: $size * 1.414;
    }

    @each $direction in "left" "right" {
      &.arrow--#{$direction} {
        & span,
        &:before,
        &:after {
          #{$direction}: 0;
          transform-origin: #{$direction} 50%;
        }

        &:before,
        &:after {
          transition: #{$direction} 0.3s 0.05s;
        }

        & span {
          transition: width 0.3s, #{$direction} 0.3s 0.05s;
        }

        &:hover {
          & span,
          &:before,
          &:after {
            #{$direction}: calc($size / 1.414 * -1);
          }
        }
      }
    }
  }
}
