main {
  display: grid;
  grid-template-rows: 50vh 50vh;

  section {
    display: grid;
    grid-template-rows: 80% 20%;

    img {
      width: 100%;
      height: auto;
    }

    label {
      display: flex;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      padding: 3px;
      width: 100%;
      color: white;
      backdrop-filter: blur(10px) saturate(0.5);
    }

    &#husbands label {
      background-color: rgba(135, 206, 250, 0.5);
    }

    &#wives label {
      background-color: rgba(216, 112, 147, 0.5);
    }
  }
}
